:root {
  --accent-color: #4630f3;
  --icon-color: #cdcdcd;
  --primary-black-color: #000;
  --primary-white-color: #fff;
  --head-bg-color: #f3f3f3;
}

/* ----------basic rules---------- */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  display: block;
  width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  display: block;
  text-decoration: none;
  color: var(--primary-black-color);
}

.accent {
  color: var(--accent-color);
}

/* ----------header-section---------- */

.header {
  background-color: var(--head-bg-color);
}

.logo {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
}

.head-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-nav .list {
  display: flex;
  gap: 15px;
  text-transform: uppercase;
}

.menu-nav .link {
  padding-top: 20px;
  padding-bottom: 20px;
}

.menu-nav .link:hover,
.menu-nav .link:focus {
  color: var(--accent-color);
  text-decoration: overline;
}

.search-link {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;

  border-radius: 50%;
  color: var(--accent-color);
}
.search-input {
  padding: 6px 4px;
}

.search-icon {
  position: absolute;
  right: 15px;
  bottom: 0;

  fill: currentColor;
  transform: translateY(-35%);
}

.search-link:hover,
.search-link:focus {
  color: var(--icon-color);
}

/* <!-- section animation start --> */
.title {
  text-align: center;
  margin-top: 50px;
  color: #4330d6;
}

.flex-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  flex-shrink: 0;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 50%;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  transition-property: transform;
}

.flex-container:hover .circle {
  transform: scale(1.5);
}

.circle:nth-child(1) {
  background-color: orange;

  transition-duration: 500ms;
}

.circle:nth-child(2) {
  background-color: #03a9f4;

  transition-duration: 1500ms;
}

.circle:nth-child(3) {
  background-color: palevioletred;

  transition-duration: 3005ms;
}

/* <!-- section animation end --> */

/* <!-- section-box-start --> */

.box {
  width: 200px;
  height: 200px;
  margin-top: 50px;
  border-radius: 10px;
  background-color: tomato;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  /*  Задаём значения перехода  */
  transition-property: background-color, transform;
  transition-duration: 500ms;
  transition-timing-function: linear;
  transition-delay: 0;
}

/* При ховере меняем значения анимируемых свойств */
.box:hover {
  background-color: teal;
  transform: rotate(180deg);
}

/* <!-- section-box-end --> */

/* animation */

@keyframes pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}

.anim-container {
  margin: 0;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.word {
  font-size: 150px;
  font-weight: 700;
  color: transparent;
  background-image: url('https://fisheries.groupcls.com/wp-content/uploads/2020/03/FISH-515-ko-e1589368703290.jpg');
  -webkit-background-clip: text;
  background-clip: text;
  background-size: cover;
  background-position: center;
  animation: pulse 2s linear infinite alternate;
}

/* ================================ */

.wave-box {
  position: relative;
  height: 300px;
}

.wave-text {
  position: absolute;
  right: 50%;
  bottom: 0;
  transform: translateX(50%);
}

.wave-text .first {
  font-size: 150px;
  -webkit-text-stroke: 2px rgb(47, 47, 220);
  color: transparent;
}

.wave-text .second {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 150px;
  color: rgb(47, 47, 220);
  animation: wave 4s ease-in-out infinite;
}

@keyframes wave {
  0% {
    clip-path: polygon(
      0% 45%,
      15% 44%,
      32% 50%,
      53% 61%,
      70% 58%,
      64% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      16% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }

  100% {
    clip-path: polygon(
      0% 45%,
      15% 44%,
      32% 50%,
      53% 61%,
      70% 58%,
      64% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }
}

.new-text {
  size: 50px;
  font-weight: bold;
  color: seagreen;
}

.test-section {
  margin-top: 100px;
}

.test-title {
  color: #4330d6;
  text-align: center;
  line-height: 18px;
  text-transform: uppercase;
}

.test-text {
  max-width: 500px;
  margin: 20px auto 0 auto;

  color: #4330d6;
  text-align: center;
}

.test-button {
  display: block;
  margin: 20px auto 0 auto;
}

.test-list {
  margin-top: 20px;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.test-section a {
  text-decoration: none;
  color: rgb(47, 47, 220);
}


.modal-box {
  text-align: center;
  margin: 20px auto 0 auto;
}
.modal-button {
  margin-top: 10px;
  outline: 1px solid #4330d6;
  border: 4px;
}

/* footer section */
.footer-item {
  list-style: none;
}
a {
  text-decoration: none;
}
.container.foot {
  display: block;

  background-color: #03a9f4;
  width: 1800px;
  height: 400px;
  margin: 0 auto;
}

.container__team {
  width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 15px;
  background-color: #03a9f4;
}
.team {
  display: flex;
  list-style: none;
  background-color: #03a9f4;
}
.team .team__item + .team__item {
  margin-left: 45px;
}
.team__item {
  display: flex;
  flex-direction: column;
  border: dashed 2px orange;
  border-radius: 4px;
  text-align: center;
  box-shadow: 3px 3px red, -1em 0 0.4em olive;
}

/* ============= table ============== */

body {
  font-family: sans-serif;
  font-size: 20px;
}

table caption {
  text-align: left;
}

table {
  border-collapse: collapse;
  color: crimson;
  margin-bottom: 50px;
}

table th,
table td {
  padding: 10px;
  border: 3px solid #4330d6;
}

table:hover {
  color: forestgreen;
}

