:root {
  --accent-color: #4630f3;
  --icon-color: #cdcdcd;
  --primary-black-color: #000;
  --primary-white-color: #fff;
  --head-bg-color: #f3f3f3;
}

/* ----------basic rules---------- */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  display: block;
  text-decoration: none;
  color: var(--primary-black-color);
}

.accent {
  color: var(--accent-color);
}

/* ----------header-section---------- */

.header {
  background-color: var(--head-bg-color);
}

.logo {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
}

.head-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-nav .list {
  display: flex;
  gap: 15px;
  text-transform: uppercase;
}

.menu-nav .link {
  padding-top: 20px;
  padding-bottom: 20px;
}

.menu-nav .link:hover,
.menu-nav .link:focus {
  color: var(--accent-color);
  text-decoration: overline;
}

.search-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: var(--accent-color);
}

.search-icon {
  fill: currentColor;
}

.search-link:hover,
.search-link:focus {
  color: var(--icon-color);
}

/* <!-- section animation start --> */
.title {
  text-align: center;
  margin-top: 50px;
  color: #4330d6;
}

.flex-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  flex-shrink: 0;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 50%;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  transition-property: transform;
}

.flex-container:hover .circle {
  transform: scale(1.5);
}

.circle:nth-child(1) {
  background-color: orange;

  transition-duration: 500ms;
}

.circle:nth-child(2) {
  background-color: #03a9f4;

  transition-duration: 1500ms;
}

.circle:nth-child(3) {
  background-color: palevioletred;

  transition-duration: 3005ms;
}

/* <!-- section animation end --> */

/* <!-- section-box-start --> */

.box {
  width: 200px;
  height: 200px;
  margin-top: 50px;
  border-radius: 10px;
  background-color: tomato;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  /*  Задаём значения перехода  */
  transition-property: background-color, transform;
  transition-duration: 500ms;
  transition-timing-function: linear;
  transition-delay: 0;
}

/* При ховере меняем значения анимируемых свойств */
.box:hover {
  background-color: teal;
  transform: rotate(180deg);
}

/* <!-- section-box-end --> */

/* animation */

@keyframes pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}

.anim-container {
  margin: 0;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.word {
  font-size: 150px;
  font-weight: 700;
  color: transparent;
  background-image: url('https://images.pexels.com/photos/1179229/pexels-photo-1179229.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
  -webkit-background-clip: text;
  background-clip: text;
  background-size: cover;
  background-position: center;
  animation: pulse 2s linear infinite alternate;
}

/* ================================ */
.new-text {
  size: 50px;
  font-weight: bold;
  text-align: center;
  color: seagreen;
}
